.app {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-shadow: rgba(0 0 0, 0.5) 1px 0 5px;
    background: rgb(242,233,227);
    background: linear-gradient(0deg, rgba(227,212,202,1) 0%, rgba(242,233,227,1) 100%);
    padding: 0 1em;
}
    .app-header {
        color: #9C8383;
        font-size: 0.8em;
    }
    .app-body {
        display: flex;
        justify-content: space-around;
        padding: 1em 0;
    }
    @media (max-width: 768px) {
        .app-body {
            flex-direction: column;
            margin: 0 1em;
			padding: 1em 0 3em 0;
        }
    }

    .app-footer {
        position: absolute;
        bottom: 1em;
    }
